
*{
 margin: 0;
 box-sizing: border-box;   
}
body{
    background-color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
#header{
    width:  100%;
    height: 100vh;
    font-size: 20px;
}
.container{
    padding:  10px, 10%;
    
}
h2 span{
    font-weight: 1500;
    padding: 12px;
    font-family: cursive;
    color: red;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style:none;
   margin:10px 20px;

}
nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: "";
    width:0;
    height: 3px;
    position: absolute;
    left: 0;
    background: green;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
width: 100%;
}
h3 span{
   color: midnightblue;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 25px; 
}
.header_2{
    text-align: justify;
    height:100%;
    font-size: 30px;
    margin-top: 20%;
    margin-left: 20px;
    width:50%;

}
.header_2 img{
    background-color: azure;
    border-radius: 20px;
    margin-top: 15px;
    
}
.header_2 h3{
    text-align: justify;
    font-size: 20px;
    color: greenyellow;
    margin-right: 10%;
    font-family: cursive;
}
#first{
    text-decoration: none;
    padding: 80px 0;
    margin-left: 20px;
    color:white;

}
.second{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color:rgb(49, 196, 81);
}
.third{
    flex-basis: 35%;
}
.third img{
    width:100%;
    border-radius: 15px;
}
.four{
    flex-basis: 50%;
}
.four h1{
    font-family: cursive;
    font-weight: bold;
    color: burlywood;
}
.four p span{
    color:blue;
    font-style: italic;
    line-height: 1.5rem;
    

}
.forlist{
    list-style-type: '\f2bc'; 
    color: slateblue;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 11px 10px;
}
.titles_1{
    display: flex;
    margin: 20px 0 40px;
}
.tlinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    color: white;
    font-family: 'Pacifico', cursive;

}
h3.max::first-letter{
    color: floralwhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.tlinks::after{
    content: "";
    width : 0;
    height: 3px;
    background: rgb(74, 17, 128);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    color: blue;
}

.tlinks.active-link::after{
width: 70%;

}

.title1content ul li{
    list-style: none;
    margin: 10px 0;
}

.title1content ul li span{
    color: red;
    font-size: 20px;

}
.title1content{
    display: none;
}
.title1content.active-tab{
    display: block;
}
#services{
 padding: 30px 5px; margin-left: 20px;   
}
.sublist p{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;

}
.sublist h2{
    font-family: 'Calligraffitti', cursive;
    color:rgba(241, 245, 11, 0.904);
    padding-top: 8px;
    font-weight: bold;
}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: darkred;
}
.serviceslist div{
    padding:40px;
    font-family: cursive;
    font-size: 15px;
    font-weight: 200;
    background:grey;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.serviceslist div i{
    font-size: 50px;
    margin-bottom: 22px;
}

.serviceslist div a{
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;

}
.serviceslist div:hover{
    background: yellow;
    transform: translateY(-10px);
}
/*.......portfolio......*/
#portfolio{
    padding: 50px 0px;
    margin-left: 10px;
    
}
.part-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;   
}

.subpart{
    color: greenyellow;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}

.subpart img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}

.layer{
width: 100%;
height: 0;
background:linear-gradient(rgba(0,0,0,0.6),#ff0000);
border-radius:10px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
left: 0;
bottom: 0;
flex-direction: column;
padding: 0 40px;
overflow:hidden;
text-align: center;
font-size: 17px;
transition: 0.5s;
}

.layer h3{
font-weight: 300px;
color: white;
padding-bottom: 20px;
width: 50%;
height: auto;
line-height: 17px;
font-family: 'Poppins', sans-serif;
border-bottom: 5px solid red;
}

.layer a{
    margin: 20px;
    text-decoration: none;
    list-style: 16px;
    background:wheat;
    color:coral;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;

}
.subpart:hover img{
    transform: scale(1.1);
}
.subpart:hover .layer{
    height: 100%;
}
.btn{
    border: 3px solid whitesmoke;
    padding-top: 13px 40px;
    display: block;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 50px auto;
    transition: background 0.5s;
}
.btn:hover{
    background: mediumseagreen;
    
}
/*.....*/
.contact-book-1{
flex-basis: 35%;
}
.contact-book-2{
    flex-basis: 60%;
}
.contact-book-1 p{
    margin-top: 30px;
}
.contact-book-1 p i{
    color:rgb(49, 196, 81);
    margin-right: 15px;
    font-size: 25px;
    font-family: cursive;
}
.socials{
    margin-top: 30px;
}
.socials a{
    text-decoration: none;
    margin-right:  15px;
    font-size: 30px;
    display: inline-block;
     transition: transform 0.5s;
     color: red;
}
.socials a:hover{
color: darkgoldenrod;
transform: translateY(-5px);
}
.btn2.btn2 {
    display: inline-block;
    color: white;
    margin-top: 15px;
    text-decoration: none;
    font-family: cursive;
    font-weight: 800;
}
.btn2 a:hover{
    transition: transform 0.5s;
    background: grey;
    color: lime;
    border-radius: 8px;
}

